<div class="body">
    <div class="skill">
        <h1>my skills</h1>
        <li><h3>html</h3><span class="bar"><span class="html"></span></span></li>
       
        <li><h3>css</h3><span class="bar"><span class="css"></span></span></li>
       
        <li><h3>javascript</h3><span class="bar"><span class="javascript"></span></span></li>
        
        <li><h3>angular</h3><span class="bar"><span class="angular"></span></span></li>
       
        <li><h3>node.js</h3><span class="bar"><span class="node"></span></span></li>
     
        <li><h3>express js</h3><span class="bar"><span class="express"></span></span></li>
    
    </div>
    <div><h2>click here below button to know my upcoming skills!</h2><button id="button" (click)="click($event)">click here</button><h2 style="color: white;">{{message}}</h2></div>
