<!-- <div><h1 style="background-color: #14213d;color: white;">My Educational Journey</h1></div> -->
<owl-carousel-o [options]="customOptions">

    <ng-template carouselSlide>
      <!-- <img src="../assets/image/AMC.jpeg" alt="Description of image"> -->
      <div class="hero">
          <div  class="sub-class">
            <img src="../assets/image/chikenbiryani.png" alt="Description of image">
            <!-- <small style="color: #fca311;">drag mouse on page to see other slides</small> -->
  
          </div>
             <div class="sub-class">
              <h1 style="color: white;">Chiken biryani</h1>
              <h3 class="sub-hero">“Biryani is not just a meal; it’s a masterpiece of flavors and aromas.”

             </h3>
             <small style="color: white;">Swipe to discover more mouthwatering dishes!</small><br>
              </div>
      </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="hero">
          <div  class="sub-class">
            <img src="../assets/image/jamun.png" alt="Description of image">
  
          </div>
             <div class="sub-class"> 
              <h1 style="color: white;">Gulab Jamun</h1>
              <h3 class="sub-hero">"Sweet, syrupy indulgence—one bite of gulab jamun, and you're in dessert heaven!"
               
             </h3><br>
             <small style="color: white;">Swipe to discover more mouthwatering dishes!</small><br>
              </div>
      </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="hero">
          <div  class="sub-class">
      <img src="../assets/image/indianfood.png" alt="Description of image">
  
          </div>
             <div class="sub-class">
              <h1 style="color: white;">Indian food</h1>
              <h3 class="sub-hero">"Flavors that tell a story—experience the rich, vibrant taste of India on your plate."
             </h3>
             <small style="color: white;">Swipe to discover more mouthwatering dishes!</small><br>
              </div>
      </div>
    </ng-template>  
    <ng-template carouselSlide>
      <div class="hero">
          <div  class="sub-class">
      <img src="../assets/image/noodles.png" alt="Description of image">
     
          </div>
             <div class="sub-class">
              <h1 style="color: white;">Noodles</h1>
              <h3 class="sub-hero">"Twirl into deliciousness—because every bowl of noodles is a little journey to comfort."
             </h3>
             <small style="color: white;">That's all for now! You've reached the end of the delicious journey
            </small>
              </div>
             
      </div>
  
    </ng-template>  
  </owl-carousel-o >
  <!-- <div>Some tags after</div> -->
  
  