
img {
    position: relative;
    top: 10px; 
    width: 500px;
    height: 600px;
   object-fit:contain;
   margin-right: -90px;
  }
  .hero{
    display: flex;
    flex-direction: row;
   
   padding:60px;
   background: linear-gradient(25deg, #14213d,#000000);
  /* background-color:   #000000; */
   height: 100vh;
  
  }
.sub-class{
  padding-top: 30px;
}
h1{
  font-family: "Edu QLD Beginner", cursive;
padding-top: 40px;
font-size: 3.87rem;
}
  .sub-hero{
   
    font-size: 2.77rem;
    font-weight: 600;
    font-family: "Edu QLD Beginner", cursive;
   margin-top: 100px;
   color: #fca311;
  }
  .sub-class{
    flex: 1;
   
  }

  
 