.auther{
    width: 100%;
    height: 800px;
    background-color:#14213d ;
    padding-top: 50px;
}
.sub-auther{
    position: absolute;
    width: 25%;
    height: 500px;
    /* background-color: #fca311; */
    /* background: linear-gradient(45deg,#fca311, #14213d); */
    background: linear-gradient(to right, #000000, #14213d);


   margin-top: 70px;
   left: 560px;
   padding: 15px;
   border-radius: 10px;
   border-style:groove;
   border-color:#fca311 ;
   box-shadow: 0 0 60px #fca311; 
            overflow: hidden; 
   z-index: 2;
}
h2,h6{
    font-family: "Edu QLD Beginner", cursive; 
    text-align: center;
    color:#fca311;
    font-weight: bold;
 
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='submit']
{
    position: relative;
    width: 250px;
    height: 15px;
    padding: 20px;
   margin-left: 50px;
  margin-bottom: 20px;
  border-radius: 1px;
  background-color: transparent;
 
  color: aliceblue;
 

}
.button{
    position: absolute;
    margin-left: 50px;
    padding: 8px 98px;
    background-color: #14213d;
    color: #fca311;
}
.button:hover{
    background-color: #fca311 ;
    color:#14213d ;
}
.toggle{
    margin-top: 150px;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    color:white;
    font-size: 1.15rem;
  margin-left: -15px;
}
.emailExistMessage{
    color: #fca311; 
    margin-left: 90px;
 
}

@media (min-width:  768px) and (max-width: 1028px) {
    .sub-auther{
        position: absolute;
        width: 45%;
        height: 400px;
      
       margin-top: 70px;
       left: 220px;
       padding: 15px;
      
    }

.toggle{
    margin-top: 50px;
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='submit']
{
   
   margin-left: 30px;
 
}
.button{
    position: absolute;
    margin-left: 30px;
    padding: 8px 98px;
   
}
}
@media(max-width: 473px){
    
}