
    <div class="footer">
        <div class="sub-footer">
            <h3 style="color: white;">Contact Details</h3>
            <small><a href="">rosemaryrdx&#64;gmail.com</a></small><br>
            <small><a href="">+91 9876543210</a></small><br>
            <small style="color:#eae0d5;">Bengaluru,India</small>

        </div>
        <div class="sub-footer">
            <h3 style="color: white;">Address</h3>
            <small style="color: #eae0d5;">BTM Layout 2nd stage, bengaluru</small><br><br><br><br>
            <small id="msg" >I am grateful for your visit! Let’s connect and continue our journey together!</small>
        </div>
        <div class="sub-footer">
            <h3 style="color: white;">Get In Touch</h3>
           <div class="wrapper">
            <div class="button">
                <div class="icon"><i class="fab fa-instagram"></i></div>
                <span>Instagram</span>
            </div>
            <div class="button">
                <div class="icon"><i class="fab fa-github"></i></div>
                <span>GitHub</span>
            </div>
            <div class="button">
                <div class="icon"><i class="fab fa-linkedin"></i></div>
                <span>LinkedIn</span>
            </div>
           </div>
        </div>
      
    
    </div>




