
<div class="image-container">
    <img src="/assets/image/rosy.jpeg" alt="Background Image">
    <div class="overlay">
      <div class="overlay-text"><h1>Rosemary</h1>
        <div class="content"><h2>Hi there, welcome to my website!</h2>
            <p>I'm excited to share my journey, skills, and passions with you. Take a look around and feel free to reach out!</p>
    
        </div>
    </div>
      
    </div>
    
  </div>
 
  <app-aboutMe></app-aboutMe>
  <app-my-technical-skills></app-my-technical-skills>
  <app-experience></app-experience>
<app-my-hobbies></app-my-hobbies>
<app-qualification></app-qualification>
<app-contact></app-contact>
<app-footer></app-footer>

