<div class="hero">
    <div  class="sub-class">
        <img src="../assets/image/mypic.jpeg" alt="Description of image">
       
    </div>
    
       <div class="sub-class"> <h1 id="sub-hero">I am currently seeking challenging and rewarding opportunities
         where I can not only build and advance my career but also continuously enhance my skills and gain valuable knowledge.
          I am eager to contribute to a dynamic team while growing both personally and professionally in a supportive and innovative environment.</h1>
        <button id="button" (click)="downloadresume()">click to download my resume</button>
        </div>
</div>



<app-my-technical-skills></app-my-technical-skills>
<app-my-hobbies></app-my-hobbies>
<app-qualification></app-qualification>
<app-contact></app-contact>
<app-footer></app-footer>