
img {
    position: relative;
    top: 10px; 
    left: 60px; 
    width: 500px;
    height: auto;
   border-radius: 50%;
   object-fit:cover;
  }
  .hero{
    display: flex;
    flex-direction: row;
   
   padding:60px;
   background: linear-gradient(45deg, #000000, #14213d, #fca311);
  padding-top: 90px;
   height: 100vh; 
  
  }

  #sub-hero{
    color: black;
    font-size: 2.77rem;
    font-weight: 600;
    font-family: "Edu QLD Beginner", cursive;
   
  }

  .sub-class{
    flex: 1;
   
  }
  #button{
    background: #14213d;
    padding: 10px;
    border-radius: 15px;
    color:#fca311;
  }
  #button:hover{
    background-color:#fca311;
    color:#000000;
    font-size: large;
    font-weight: 600;
  }
  @media (min-width:  768px) and (max-width: 1028px) {
    img {
        top: -5px; 
        left: -15px; 
        width: 300px;
        height: auto;
       
      }
      #sub-hero{
        font-size: 1.37rem;
        font-weight: 600;
       
      }
}
@media (min-width:  320px) and (max-width: 476px) {
  .hero{
    display: flex;
    flex-direction: column;
   width: 400%;
   padding:90px;
 
  padding-top: 90px;
   height: 200vh; 
  
  }
  
img {
 
  top: 30px; 
  left: 200px; 
 
}

#sub-hero{
  color: #fca311;
  font-size: 2.77rem;
  font-weight: 400;
  font-family: "Edu QLD Beginner", cursive;
 padding: 40px;
 text-align: center;
}
#button{
  background: #fca311;
  padding: 10px;
  border-radius: 15px;
  color: black;
  margin-left: 350px;

}


}