
  .sub-class{
   margin-left: 130px;
  }
  h2{
    color:#000000;
    font-size: 4.47rem;
    font-family: "Tinos", serif;
    font-weight: 700;
margin-top: 280px;
  }

  .hero{
    display: flex;
    flex-direction: row;

   /* background: linear-gradient(45deg, #000000, #14213d, #fca311); */
   background-color:#c6ac8f;
   height: 100vh; 
  
  }
  h1{
    color:#c6ac8f ;
    font-size: 4.47rem;
    font-family: "Tinos", serif;
    font-weight: 700;
  }
  .form{
    width: 600px;
    height: 600px;
   margin: 120px;
   /* background: linear-gradient(to right, #000000, #14213d); */
   padding-left: 100px;
   background: #22333b;
   box-shadow: 0 0 60px #0a0908; 

  }
  input[type='text'],
input[type='email'],
input[type='password'],
button[type='submit']{
    position: relative;
    width: 350px;
    height: 10px;
   padding-top: 25px;
   padding-bottom: 10px;
  
  margin-bottom: 15px;
  border-radius: 1px;
  background-color:transparent;
color: aliceblue;

}
label{
    color: #c6ac8f;
    font-weight: 600;
}
textarea{
    width: 350px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 1px;
    background-color: transparent;
    color: white;
}
/* #button{
    background-color: #14213d;
    color: #fca311;
    padding: 20px;
    font-size: 1.37rem;
} */
#button{
    position: relative;
    padding: 30px ;
    background-color: #eae0d5;
    color: #22333b;
}
#button:hover{
    background-color: #c6ac8f ;
    color: #22333b;
}
@media (min-width:  767px) and (max-width: 1024px) {
   

  .form{
    width: 400px;
    height: 450px;
margin-left: 80px;
padding-top: 20px;
  }
  h1{
    margin-top: 10px;
    font-size: 2.57rem;
font-weight: 400;
margin-left: 10px;
  }
  input[type='text'],
  input[type='email'],
  input[type='password'],
  button[type='submit']{
      position: relative;
      width: 200px;
      height: 5px;
  
  }
  textarea{
    width: 200px;
    height: 60px;
    margin-bottom: 15px;
    border-radius: 1px;
    background-color: transparent;
    color: white;
}
h2{
  color:#000000;
  font-size: 4.47rem;
 text-align: center;
  font-weight: 700;
margin-top: -70px;
}

.hero{
  display: flex;
  flex-direction: column;

 /* background: linear-gradient(45deg, #000000, #14213d, #fca311); */
 background-color:#c6ac8f;
 height: 120vh; 

}

.sub-class{
  margin-left: 80px;
 
 }
}

@media (min-width:  320px) and (max-width: 476px) {
  .hero{
    display: flex;
    flex-direction: column;
width: 1700px;
  
  
 
   height: 150vh; 
  padding-left: 30px;
  }

.form{
  width: 600px;
  height: auto;
 margin: 100px;
 
 margin-left: 220px;
padding: 80px;
}
h2{
  color:#000000;
  font-size: 4.47rem;
 text-align: center;
  font-weight: 700;
margin-top: -100px;
margin-left: -270px;
padding: 20px;
}
}