
<div class="hobbies">
    <h1 style="color:#fca311;">Are You Interestd To Know About My Hobbies?</h1>
    <div class="my-hobbies">
        <div  > <img class="hobby"  src="../assets/image/cooking.jpg" alt="Description of image">
            <h3>Click the button below to discover all the delicious dishes I can whip up!</h3>
            <button class="click" (click)="cooking()"> Click To know More..</button><br>

        </div>
       
        <div > <img class="hobby" src="../assets/image/bible.jpg" alt="Description of image">
            <h3>Click the button below to explore some of my favorite scriptures from the Bible!</h3>
            <button class="click" (click)="scripture()"> Click To know More..</button>
        </div>
        <div > <img  class="hobby" src="../assets/image/music.avif" alt="Description of image">
            <h3>"Click the button below to explore some of my favorite scriptures from the Bible!"</h3>
            <!-- <a routerLink="about">childroute</a> -->
            <button class="click"> Click To know More..</button>

        </div>
    </div>
</div>
<router-outlet></router-outlet>