


<div class="hobbies">
    <h1 style="color:#0a0908;">Are You Interested To Know About My Hobbies?</h1>
    <div class="my-hobbies">
        <div class="hobby-container"> 
            <img class="hobby" src="../assets/image/cooking.jpg" alt="Cooking Image">
            <div class="overlay">
                <p class="overlay-text">Cooking is my way of blending creativity with flavor, turning simple ingredients into meals that bring joy and connection to those around me.</p>
            </div>
        </div>

        <div class="hobby-container"> 
            <img class="hobby" src="../assets/image/badminton.jpg" alt="Badminton Image">
            <div class="overlay">
                <p class="overlay-text">Playing badminton fuels my passion for staying active, sharpening my reflexes, and enjoying the thrill of competition while fostering teamwork and discipline.</p>
            </div>
        </div>

        <div class="hobby-container"> 
            <img class="hobby" src="../assets/image/music.avif" alt="Music Image">
            <div class="overlay">
                <p class="overlay-text">Listening to music allows me to unwind, sparks creativity, and connects me with diverse emotions and cultures, making it a soothing and enriching hobby.</p>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
