<div class="exp">
    <h1>Professional Experience in Web Development and Design</h1>
<div class="sub-exp">
    
    <h2>QUERY MANAGER</h2>
    <h5>The UI design, component architecture, form handling, and navigation within the query management system built using Angular.</h5>
 <p>The Query Manager project aims to initially deliver an automated response and
    ticketing solution to all Employee Compliance related queries raised by any member of
    staff. Utilizing the banks recommended technology stack, the aim is to provide a future state technical solution to query management. To deliver QM, we are adopting a
    collaborative. Clear lines of communication and a flat management structure</p>
    <h5>2022-2023</h5>
</div>
<div class="sub-exp">
    <h2>WEB DESIGN</h2>
    <h5>This highlights the focus on creating customized web designs using WordPress, emphasizing creativity, functionality, and user experience.</h5>
 <p>I have worked with WordPress to design and develop dynamic websites. This includes customizing themes, 
    managing plugins, and building responsive, user-friendly pages. My experience also involves optimizing website 
    performance and ensuring seamless content management through the WordPress platform, making it accessible and engaging for users.</p>
    <h5>2021-2022</h5>
</div>
</div>