<div class="carousel">
  <!-- <div><h1 style="background-color: #14213d;color: white;">My Educational Journey</h1></div> -->
<owl-carousel-o [options]="customOptions">

  <ng-template carouselSlide>
    <!-- <img src="../assets/image/AMC.jpeg" alt="Description of image"> -->
    <div class="hero">
        <div  class="sub-class">
    <img src="../assets/image/1.png" alt="Description of image">
    <div class="anime"><h1 style="font-size: 3.38rem;font-weight: 700;">My Educational Journey...</h1></div>
    <small style="color: #fca311;">drag mouse on page to see other slides</small>

        </div>
           <div class="sub-class">
            <h1 style="color: white;">AMC Engineering College Bengaluru</h1>
            <h3 class="sub-hero">I completed my Master's in Computer Applications (MCA) in this college in the year 2021.
           </h3>
            </div>


</div>
  </ng-template>  
  <ng-template carouselSlide>
    <div class="hero">
        <div  class="sub-class">
    <img src="../assets/image/2.png" alt="Description of image">

    <div class="anime"><h1 style="font-size: 3.38rem;font-weight: 700;">My Educational Journey...</h1></div>

        </div>
           <div class="sub-class"> 
            <h1 style="color: white;">Karnataka Arts Science Commerce College Bidar</h1>
            <h3 class="sub-hero">I completed my Bachelor's in Computer Science (BCA) in this college in the year 2019.
           </h3>
            </div>
    </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div class="hero">
        <div  class="sub-class">
    <img src="../assets/image/3.png" alt="Description of image">
    <div class="anime"><h1 style="font-size: 3.38rem;font-weight: 700;">My Educational Journey...</h1></div>

        </div>
           <div class="sub-class">
            <h1 style="color: white;">Wisdom PU College Bidar</h1>
            <h3 class="sub-hero">I completed my PUC (pre-University) in this college in the year 2016.
           </h3>
            </div>
    </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div class="hero">
        <div  class="sub-class">
    <img src="../assets/image/4.png" alt="Description of image">
    <div class="anime"><h1 style="font-size: 3.38rem;font-weight: 700;">My Educational Journey...</h1></div>
   
        </div>
           <div class="sub-class">
            <h1 style="color: white;">St Joseph English Medium School</h1>
            <h3 class="sub-hero">I completed my 10th in this school in the year 2014.
           </h3>
            </div>

    </div>

  </ng-template>  
</owl-carousel-o >
<!-- <div>Some tags after</div> -->


</div>