
<div class="hobbies">
  <h1 style="color:#0a0908;">My Educational Qualification</h1>
  <div class="my-hobbies">
      <div class="hobby-container reverse">
          <div class="image-overlay-container">
              <img class="hobby" src="../assets/image/1.png" alt="Education 1">
              <div class="image-overlay"></div>
          </div>
          <div class="overlay-text">
            <h3>AMC Engineering College, Bengaluru</h3><br>
              <p>I completed my Master's degree in Computer Applications in <strong>2021</strong>, 
                marking a significant milestone in my academic journey and personal growth during my time at the college.</p>
          </div>
      </div>
      <div class="hobby-container">
          <div class="image-overlay-container">
              <img class="hobby" src="../assets/image/2.png" alt="Education 2">
              <div class="image-overlay"></div>
          </div>
          <div class="overlay-text">
            <h3>Karnataka Arts Science Commerce College, Bidar</h3><br>
              <p>I completed my Bachelor's degree in Computer Science from this college in <strong>2019</strong>, 
                which laid the foundation for my technical knowledge and problem-solving skills.</p>
          </div>
      </div>
      <div class="hobby-container reverse">
          <div class="image-overlay-container">
              <img class="hobby" src="../assets/image/3.png" alt="Education 3">
              <div class="image-overlay"></div>
          </div>
          <div class="overlay-text">
            <h3>Wisdom PU College, Bidar</h3><br>
              <p>I completed my Pre-University Course (PUC) in <strong>2016</strong>, which provided me with a solid academic foundation for my future studies.</p>
          </div>
      </div>
      <div class="hobby-container">
          <div class="image-overlay-container">
              <img class="hobby" src="../assets/image/4.png" alt="Education 4">
              <div class="image-overlay"></div>
          </div>
          <div class="overlay-text">
            <h3>St Joseph English Medium School</h3>
              <p>I completed my schooling in <strong>2014</strong>, marking the beginning of my educational journey.
              </p>
          </div>
      </div>
  </div>
</div>
